@font-face {
  font-family: 'iconfont';  /* project id 1456981 */
  src: url('//at.alicdn.com/t/font_1456981_etz1rcv9fqm.eot');
  src: url('//at.alicdn.com/t/font_1456981_etz1rcv9fqm.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1456981_etz1rcv9fqm.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1456981_etz1rcv9fqm.woff') format('woff'),
  url('//at.alicdn.com/t/font_1456981_etz1rcv9fqm.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1456981_etz1rcv9fqm.svg#iconfont') format('svg');
}

.icon-close:before{
  content:"\e632"
}