@font-face {
  font-family: 'iconfont';  /* project id 1456981 */
  src: url('//at.alicdn.com/t/font_1456981_ohmhyy9wd9l.eot');
  src: url('//at.alicdn.com/t/font_1456981_ohmhyy9wd9l.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1456981_ohmhyy9wd9l.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1456981_ohmhyy9wd9l.woff') format('woff'),
  url('//at.alicdn.com/t/font_1456981_ohmhyy9wd9l.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1456981_ohmhyy9wd9l.svg#iconfont') format('svg');
}

.icon-close:before{
  content:"\e632"
}